/* Body Background and Clear Floats */
body {
    background-image: url("../images/footer_lodyas.png");
    background-repeat: repeat;
}

.table td {
    border-top: 0px hidden;
}

td p {
    text-align: center;
}

td p :hover {
    background-color: yellow;
}

.container {
    background-color: #ffffff;
    border: solid #dddddd 2px;
}