/* Body Background and Clear Floats */
body {
    background-image: url("../images/footer_lodyas.png");
    background-repeat: repeat;
}

.navbar-brand {
    font-weight: bold;
    font-size: 30px;
}

.page-subject {
    padding-bottom: 10px;
    border-bottom: solid 2px gray;
    font-size: 20px;
    font-weight: bold;
}
.main {
    background-color: #ffffff;
    border: solid #dddddd 2px;
}

.container {
    width: 960px;
}

.row {
    padding: 20px;
}

.table td {
    border-top: 0px hidden;
    position: relative;
}

td p {
    text-align: center;
}

td p :hover {
    background-color: yellow;
}

.picBanner {
    background-color: #4aaaa5;
    color: white;
    position: absolute;
    bottom: 25%;
    width: 180px;
    text-align: center;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}